* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.messageList {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  max-width: 700px;
  padding: 1%;
  border: 2px solid #222;
  border-radius: 3px;
  margin-bottom: 3%;
  white-space: nowrap;
  margin-right: 1%;
}

.messageList:first-child {
  text-transform: uppercase;
}

.message {
  max-width: 320px;
  border: 2px solid #222;
  font-weight: bold;
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 4px;
  border-radius: 3px;
}

.spanStyle {
  margin-bottom: 1%;
  text-transform: capitalize;
}

.formStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1%;
}

.inputTxt {
  margin: 0 1% 1% 0;
  border-radius: 3px;
  min-width: 150px;
}

.inputSubmit {
  margin-bottom: 1%;
  background-color: lightgreen;
  border-radius: 3px;
}

.outputFromUser {
  width: 650px;
  height: 300px;
  border: 2px solid #222;
  border-radius: 3px;
  padding: 1%;
}

.divForForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.chat_messages {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
