.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.messageList {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  max-width: 500px;
  max-height: auto;
  padding: 1%;
  border: 2px solid #222;
  border-radius: 3px;
  margin-bottom: 1%;
}

.messageList:first-child {
  text-transform: uppercase;
}

.message {
  max-width: 320px;
  border: 2px solid #222;
  font-weight: bold;
  margin-bottom: 1%;
  padding: 4px;
  border-radius: 3px;
}

.spanStyle {
  margin-bottom: 1%;
}

.formStyle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputTxt {
  margin: 0 1% 1% 0;
  border-radius: 3px;
}

.inputSubmit {
  margin: 0 1% 1% 0;
  background-color: lightgreen;
  border-radius: 3px;
}
